[submodule "external/stateEstimation"]
	path = external/stateEstimation
	url = https://github.com/antshiv/stateEstimation.git
[submodule "external/controlSystems"]
	path = external/controlSystems
	url = https://github.com/antshiv/controlSystems.git
[submodule "external/dynamic_models"]
	path = external/dynamic_models
	url = https://github.com/antshiv/dynamic_models.git
[submodule "external/attitudeMathLibrary"]
	path = external/attitudeMathLibrary
	url = https://github.com/antshiv/attitudeMathLibrary.git
